* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  height: 100%;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

/***** HEADER *****/

.navbar.navbar-default {
  background-color: white;
}

/*.navbar-brand.header__logo-container {
  height: 150px;
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 5px dotted #fd5c4a;
  position: relative;
}*/
.header__logo {
  margin: 15px 0;
  height: 50px;
}

/*hide mobile logo on big screens */
@media all and (min-width: 767px) {
  .header__logo.small {
    display: none;
  }
}

nav li {
  text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a {
  line-height: 80px; /*header__logo height + header__logo margin*/
  padding-top: 0;
  padding-bottom: 0;
}
/***** end HEADER *****/

section {
  max-width: 1100px;
  margin: auto;
  height: 75vh;
}

/*
section {
  max-width: 1100px;
  margin: auto;
!*  margin: 0;*!
  height: 75vh;
  background-color: white;
}

section p {
  margin: 0;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
!*  padding-top: 50px;*!
}

section:nth-child(2),
section:nth-child(3),
section:nth-child(4) {
  margin: 5vh 0;
}
*/


/***** HELLO-SECTION *****/

.hello-row {
  background-color: #27cd57;
}

.hello-container p {
  font-family: 'Caveat', cursive;
  font-size: 40px;
}
/*.hello-container {
  height: 100vh;
  width: 100%;
  background-color: #27cd57;
  margin-top: 20vh;
}*/
/*
.hello-container p {
  z-index: 2;
}
*/


.grid {
  position: relative;
  width: 90%;
  margin: 15px auto 0 auto;
  padding: 0; /* grids unordered list default of 40px */
}

.grid li {
  list-style-type: none;
  position: relative;
  float: left;
  width: 16.71428571428572%;
  padding: 0 0 19.30056087099967% 0;
  -o-transform: rotate(-60deg) skewY(30deg);
  -moz-transform: rotate(-60deg) skewY(30deg);
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
  overflow: hidden;
  visibility: hidden;
}

.grid li .hexagon {
  background-image: url("./images/product1.png");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-transform: skewY(-30deg) rotate(60deg);
  -moz-transform: skewY(-30deg) rotate(60deg);
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  overflow: hidden;
}

.grid li * {
  visibility: visible;
}

.grid li {
  margin-left: 0.6%;
}

.grid li:nth-child(10n+6) {
  margin-left: 1%;
}

.grid li:nth-child(10n+6), .grid li:nth-child(10n+7), .grid li:nth-child(10n+8), .grid li:nth-child(10n+9), .grid li:nth-child(10n+10) {
  margin-top: -4.157142857100001%;
  margin-bottom: -4.157142857100001%;
  -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}


/***** end HELLO-SECTION *****/


/***** main-ABOUT-SECTION *****/

.mainAbout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainAbout__icon {
  height: 65px;
  width: auto;
  margin: 25px;
}

.mainAbout__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainAbout__photo {
  height: 80%;
  width: auto;
  border-radius: 50%;
}


/***** end main-ABOUT-SECTION *****/


/***** main-PRODUCTS-SECTION *****/

.mainProducts-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.products__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product {
  height: 20%;
  width: 20%;
  position: relative;
}

button.product__btn {
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 50%;
}

.product__name {
  height: 200px;
  width: 200px;
  text-align: center;
  line-height: 200px;
  position: absolute;
  font-weight: bold;
  color: deeppink;
}

.product__image {
  position: relative;
  height: 200px;
  width: auto;
  border-radius: 50%;
  border: 5px dotted #22b04c;
}


/***** end main-PRODUCTS-SECTION *****/


/***** main-CONTACT-SECTION *****/

.mainContact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mainContact__icons-container,
.mainContact__form-container {
  width: 50%;
  min-height: 80vh;
}

.mainContact__icons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 50px 30px;
}

.mainContact__icons-container h2 {
  padding-bottom: 10%;
}

.mainContact__icons-container h2~p {
  padding-bottom: 5%;
  font-weight: normal;
  font-size: 1em;
}

.mainContact__icons-container .section-title {
  padding-top: 0;
}

.mainContact__icons-container p {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.contact__icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 15% 0 15%;
}

.contact__icon {
  color: #fd5c4a;
  padding-right: 15px;
}

.contact__icon-container i {
  font-size: 30px;
}

.mainContact__form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #27cd57;
}

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  /*  padding: 10%;*/
}

.contact__form input,
.contact__form textarea {
  width: 100%;
  border: 4px solid white;
  background-color: #27cd57;
  margin-bottom: 15px;
  outline: 0;
  color: white;
}

.contact__form input {
  height: 35px;
}


/*change placeholder color */

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: lightyellow;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: lightyellow;
  opacity: 1;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: lightyellow;
  opacity: 1;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: lightyellow;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

:-ms-input-placeholder {
  /* Microsoft Edge */
  color: lightyellow;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

input[type="submit"] {
  background-color: #fd5c4a;
  color: white;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
}

textarea {
  height: 150px;
  border: none;
  line-height: 100px;
}


/***** end main-CONTACT-SECTION *****/


/***** FOOTER *****/

footer {
  background-color: #22b04c;
  bottom: 0;
  color: black;
}

header.smaller .header__logo-container {
  display:none;
  height: 90px;
  width: 90px;
  margin-top: 12px;
}

footer p:first-child {
  font-weight: bold;
}

.in-footer__container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
}

.in-footer__container a {
  text-decoration: none;
  font-size: 0.7em;
}

.in-footer__container a i {
  font-size: 2.3em;
}

.copyright {
  color: rgb(43, 43, 43);
  font-size: 0.7em;
}


/***** end FOOTER *****/